Converting `parsedresults.csv` dataset to the same format used in the project so it can be parsed and split into daily csv files.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('parsedresults.csv')
display(df.head())

,timestamp,user,src,out,time,batch,number,latest,index,seconds,window.low,window.high,identity
0,1596018463,179078,反恐精英20周年武器箱,法玛斯 | 退役,1596018463,1,1,1596018463,1,55,1596018408,1596018463,1
1,1596018463,48975,伽玛武器箱,Tec-9 | 冰冠,1596018463,1,2,1596018463,2,55,1596018408,1596018463,1
2,1596018463,347871,伽玛 2 号武器箱,Tec-9 | 燃料喷射器,1596018463,1,3,1596018463,3,55,1596018408,1596018463,1
3,1596018463,2711,“突围大行动”武器箱,P2000 | 乳白象牙,1596018463,1,4,1596018463,4,55,1596018408,1596018463,1
4,1596018462,22729,光谱 2 号武器箱,格洛克 18 型 | 异星世界,1596018462,1,5,1596018463,5,55,1596018408,1596018463,1

Drop unnecessary columns

In [4]:
df.drop(columns=['batch', 'number', 'latest', 'index', 'seconds', 'window.low', 'window.high', 'identity'], inplace=True)
display(df.head())

    timestamp    user          src              out        time
0  1596018463  179078  反恐精英20周年武器箱         法玛斯 | 退役  1596018463
1  1596018463   48975        伽玛武器箱       Tec-9 | 冰冠  1596018463
2  1596018463  347871    伽玛 2 号武器箱    Tec-9 | 燃料喷射器  1596018463
3  1596018463    2711   “突围大行动”武器箱     P2000 | 乳白象牙  1596018463
4  1596018462   22729    光谱 2 号武器箱  格洛克 18 型 | 异星世界  1596018462

Add datetime column at the beginning, converting the unix timestamp to a date time object at the UTC timezone.

In [27]:
import datetime
df['datetime'] = pd.to_datetime(df['timestamp'], unit='s', utc=True).dt.strftime('%Y-%m-%d %H:%M:%S')
df = df[['datetime', 'timestamp', 'user', 'src', 'out', 'time']]
display(df.head())

,datetime,timestamp,user,src,out,time
0,2020-07-29 10:27:43,1596018463,179078,反恐精英20周年武器箱,法玛斯 | 退役,1596018463
1,2020-07-29 10:27:43,1596018463,48975,伽玛武器箱,Tec-9 | 冰冠,1596018463
2,2020-07-29 10:27:43,1596018463,347871,伽玛 2 号武器箱,Tec-9 | 燃料喷射器,1596018463
3,2020-07-29 10:27:43,1596018463,2711,“突围大行动”武器箱,P2000 | 乳白象牙,1596018463
4,2020-07-29 10:27:42,1596018462,22729,光谱 2 号武器箱,格洛克 18 型 | 异星世界,1596018462

In [30]:
df.to_csv('parsedresults_harmonized.csv', index=False)

Now the harmonized dataset `parsedresults_harmonized.csv` is ready to be split to daily csv files using the `split_csv_bydate.py` script in the `data_ingestion` folder.